<!--
  This template loads for the 'home' state (app.js)
  Show list of shortcuts to other screens
-->
<ion-view view-title="New York">
  <ion-header-bar class="bar-subheader bar bar-stable item-input-inset dark-bg">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="City or Zip code">
    </label>
  </ion-header-bar>
  <ion-content class="stable-bg">

    <div class="padding text-center place-bg light">
      <h1 class="light">Backstreet NY</h1>
      <p>
        <i class="ion-ios-location-outline"></i>
        USA
      </p>
    </div>

    <div class="row flex-wrap">
      <div class="col-33 text-center padding-20">
        <a ui-sref="information" class="grid-icon energized-bg circle light">
          <i class="ion-information"></i>
        </a>
      </div>

      <div class="col-33 text-center padding-20">
        <a ui-sref="nearby" class="grid-icon balanced-bg circle light">
          <i class="ion-ios-location-outline"></i>
        </a>
      </div>

      <!--<div class="col-33 text-center padding-20">
        <a ui-sref="ticket" class="grid-icon positive-bg circle light">
          <i class="ion-android-plane"></i>
        </a>
      </div>

      <div class="col-33 text-center padding-20">
        <a ui-sref="weather" class="grid-icon calm-bg circle light">
          <i class="ion-ios-cloud"></i>
        </a>
      </div>

      <div class="col-33 text-center padding-20">
        <a ui-sref="gallery" class="grid-icon assertive-bg circle light">
          <i class="ion-images"></i>
        </a>
      </div>-->

      <div class="col-33 text-center padding-20">
        <a ui-sref="friends" class="grid-icon dark-bg circle light">
          <i class="ion-ios-people-outline"></i>
        </a>
      </div>

      <!--<div class="col-33 text-center padding-20">
        <a ui-sref="taxi" class="grid-icon royal-bg circle light">
          <i class="ion-model-s"></i>
        </a>
      </div>-->

    </div>
  </ion-content>
</ion-view>
